{# template for the __init__.py that imports all build classes #}
from edm_python.edm.generated.core import *
from edm_python.edm.generated.context import *
from edm_python.edm.xsd import xsd


__all__ = (
    {% for EDM_CLASS in classlist %}
    "{{EDM_CLASS}}"{% if not loop.last %},{% endif %}{% endfor%}
 )